.container {
  width: 80%;
  padding: 10px;
  margin: 35px auto;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of boxes */
  justify-content: space-between; /* Space between items */
}
.box {
  width: calc(33.33% - 20px); /* Adjust width for three boxes per row */
  margin: 10px 0; /* Vertical margin */
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: transform 0.2s; /* Smooth transition */
}
.box img {
  display: block;
  width: 100%; /* Make the image fill the box width */
  height: 250px; /* Set a fixed height for images */
  object-fit: cover; /* Maintain aspect ratio while filling the box */
  border-radius: 5px;
}
.box:hover {
  transform: scale(1.05); /* Slightly scale on hover */
  cur
}
.box h3 {
  text-align: center;
}
h2 {
  padding-top: 1%;
  text-align: center;
  font-size: ;
}