.container{
    width: 90%;
    padding: 5px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    
  }
  .box img{
    display: block;
    width: 100%;
    border-radius: 5px;
    
  }
  .box:hover{
    transform: scale(1.4);
  }
  .box h3{
    text-align: center;
    

  }
  h2{
    padding-top: 1%;
}
P{
    text-align: center;
}